# Ignorar el archivo de secretos
.env

# Ignorar la base de datos de prueba de SQLite
db.sqlite3

# Ignorar los archivos de caché de Python
__pycache__/
*.pyc

# Ignorar archivos del sistema operativo
.DS_Store